.chat-container{
  padding: 5px;
  width: inherit;
  height: 98%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.dialog{
  margin: 5px 0;
  display: flex;
  font-family: system-ui;
  > .middle{
    width: -webkit-fill-available;
    padding: 0 5px;
    > .user_name{
      font-weight: 500;
    }
    > .last-message{
      font-weight: 100;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    > .last-message.self:before{
      content: 'Вы: ';
      color: silver;
    }
  }
  > .right{
    align-self: center;
    font-size: 11pt;
  }
}

.writing {
  color: #ffffff00;
}

.writing:before{
  content: "\f2dd";
  animation: writing 2s infinite linear;
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #737373;
}

@keyframes writing {
  from{
    content: "\f2dd"
  }
  33%{
    content: ".\f2dd"
  }
  66%{
    content: "..\f2dd"
  }
  to{
    content: "...\f2dd"
  }
}

.search{
  width: -webkit-fill-available;
  padding: 10px 10px;
  > input {
    width: -webkit-fill-available;
    border-radius: 50px;
    padding: 12px;
    outline: none;
  }
}

.list-date > span {
  border: 1px rgb(118 118 118 / 79%) solid;
  color: rgb(118 118 118 / 79%);
}
