<div class="chat-container border" #container>
  <div class="search">
    <input placeholder="Имя или тест сообщения">
  </div>
  <div class="dialog">
    <div class="avatar left">
      <img src="https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?fit=crop&w=50&h=50&q=60">
    </div>
    <div class="middle">
      <p class="user-name">Иван Петров</p>
      <p class="last-message writing">
        Какой-то текст
      </p>
    </div>
    <div class="right">
      <span>03:16</span>
    </div>
  </div>

  <div class="list-date">
    <span>Сегодня</span>
  </div>

  <div class="dialog">
    <div class="avatar left">
      <img src="https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?fit=crop&w=50&h=50&q=60">
    </div>
    <div class="middle">
      <p class="user-name">Иван Петров</p>
      <p class="last-message self">Какое-то последнее сообщение</p>
    </div>
    <div class="right">
      <span>03:16</span>
    </div>
  </div>
  <div class="dialog">
    <div class="avatar left">
      <img src="https://images.unsplash.com/photo-1644446640762-50cf344740b2?fit=crop&w=50&h=50&q=60">
    </div>
    <div class="middle">
      <p class="user-name">Иван Петров</p>
      <p class="last-message">Какое-то последнее сообщение</p>
    </div>
    <div class="right">
      <span>03:16</span>
    </div>
  </div>

  <div class="list-date">
    <span>Вчера</span>
  </div>
</div>
