:host(app-root) {
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-auto-flow: dense;
  //display: flex;
  //flex-direction: column-reverse;
  //justify-content: space-between;
}
