:host{
  display: flex;
  flex-direction: column;
}
#profile-header{
  height: 7%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.profile-info{
  width: -webkit-fill-available;
  font-family: system-ui;
  > p {
    text-align: center;
    width: 100%;
  }
}

.profile-add{
  width: 40px;
}

#profile-content{
  height: 90%;
  overflow: scroll;
}

.content-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, calc((100vw - 40px) / 3));
  grid-gap: 5px;
  padding: 5px;
  justify-items: center;
  align-items: center;
}
