:host{
  height: inherit;
  display: flex;
  flex-direction: column;
}
#profile-header{
  height: 9%;
  margin-bottom: 2%;
}

#profile-content{
  height: 88%;
  overflow: scroll;
}

.content-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, calc((100vw - 40px) / 3));
  grid-gap: 5px;
  padding: 5px;
  justify-items: center;
  align-items: center;
}
